.buildpath
.settings/
.project
*.patch
.idea/
.git/
codeCoverage/
vendor/
.phpintel/
.env
.DS_Store
*.lock
node_modules/*
vendor/friendsofphp/php-cs-fixer/tests/AutoReview/
vendor/friendsofphp/php-cs-fixer/tests/Cache/
vendor/friendsofphp/php-cs-fixer/tests/ConfigurationException/
vendor/friendsofphp/php-cs-fixer/tests/Console/
vendor/friendsofphp/php-cs-fixer/tests/Differ/
vendor/friendsofphp/php-cs-fixer/tests/DocBlock/
vendor/friendsofphp/php-cs-fixer/tests/Doctrine/
vendor/friendsofphp/php-cs-fixer/tests/Error/
vendor/friendsofphp/php-cs-fixer/tests/Event/
vendor/friendsofphp/php-cs-fixer/tests/Fixer/
vendor/friendsofphp/php-cs-fixer/tests/FixerConfiguration/
vendor/friendsofphp/php-cs-fixer/tests/FixerDefinition/
vendor/friendsofphp/php-cs-fixer/tests/Indicator/
vendor/friendsofphp/php-cs-fixer/tests/Linter/
vendor/friendsofphp/php-cs-fixer/tests/Report/
vendor/friendsofphp/php-cs-fixer/tests/Runner/
vendor/friendsofphp/php-cs-fixer/tests/Smoke/
vendor/friendsofphp/php-cs-fixer/tests/Tokenizer/
Would skip repository vendor/swoole/ide-helper
